<ion-view  cache-view="false" view-title="Kral Faruk | İçerik">
    <ion-pane>


        <ion-content class="padding">

            <form >
			<div class="list card" > 
			
				<div class="card list" >
				<div class="item item-divider">
                    Başlık
                </div>
					<label class ="item item-input" >
						<input type="text" ng-model="content.header" />
					</label>
				</div>
				<div class="card list" >
				<div class="item item-divider">
                    İçerik
                </div>
					<label class ="item item-input" >
						<textarea placeholder="İçerik" ng-model="content.content" cols="100"></textarea>
					</label>
					
				</div>
				<div class="card list" >
					<div class="item item-divider">
						Önizleme
					</div>
				
					<img ng-src="{{content.img}}" width="100%" />
				</div>
				
				
				<div class="card list" >
					<div class="item item-divider">
						Resim
					</div>
				
					<label class ="item item-input" >
						<input type="file" id="files" name="files" ng-model="content.img" >
						<button class="button button-block button-royal" ng-click="uploadFile()" >Yükle </button>
						</input>
					</label>
					
					<label class ="item item-input" >
						<a class="button button-block button-royal" href="#/main/camera"  >Fotoğraf Çek </a>
						</input>
					</label>
				</div>
			
				
				<ul class="card list" >
					<li class="item item-toggle" >
					<label class="toggle toggle-royal" >
					
						<input type="checkbox" ng-model="content.active" >
							<div class="track" >
								<div class="handle" ></div>
							</div>
							
							
					</label>
					Yayın Durumu
					</li>
				</ul>
				
				<div class="card list" >
					<label class ="item item-radio" >
						<input type="radio"  name="page" >
						<div class="item-content" >
						Anasayfa
						</div>
						<i class="radio-icon ion-checkmark" ></i>
					</label>
					<label class ="item item-radio" >
						<input type="radio"  name="page" >
						<div class="item-content" >
						Referanslar
						</div>
						<i class="radio-icon ion-checkmark" ></i>
					</label>
				</div>
				<label class ="item" >
					<div class="button-bar">
							<button class="button button-royal" ng-click="cancel()">
							  <i class="icon ion-close-circled"></i>
							
							</button>
							<button class="button button-royal" ng-click="saveContent()">
							  <i class="icon ion-share"></i>
							 
							</button>
		
					</div>
				</label>
				
               

		</div>

           </form>

		   
		   

        </ion-content>
    </ion-pane>
</ion-view>
<!--

 <div class="item item-divider">
                    İçerik Düzenleme
                </div>


                <div class="item item-divider">
                    Başlık
                </div>
                    <input type="text" ng-model="content.header" />

                <div class="item item-divider">
                    Resim
                </div>


                    <img ng-src="{{content.img}}" width="100%" />

                <div class="item item-divider">
                    Metin
                </div>
                <input type="textarea" ng-model="content.content" width="100%" />

				
                
                <input type="text" ng-model="content.active" />

                <div class="item item-divider">
                   Sayfa
                </div>

                <input type="text" ng-model="content.page" />
				
				-->