<ion-view cache-view="false" view-title="Kral Faruk | Referanslar">
    <ion-pane>
     <ion-content class="padding">
        <div class="row transparent"><div class="col">
		<h4>2010 Yılı</h4>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid3.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid2.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
            
            </div>
			</div>
			
			<div class="row transparent"><div class="col">
		<h4>2011 Yılı</h4>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid3.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid2.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
            
            </div>
			</div>
			
			<div class="row transparent"><div class="col">
		<h4>2012 Yılı</h4>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid3.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid2.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
            
            </div>
			</div>
			
			<div class="row transparent"><div class="col">
		<h4>2013 Yılı</h4>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid3.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid2.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
            
            </div>
			</div>
			
			<div class="row transparent"><div class="col">
		<h4>2014 Yılı</h4>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid3.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid2.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
            
            </div>
			</div>
			
			<h4>2015 Yılı</h4>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid3.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid2.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
			<div class="row"><div class="col">
               <a href="javascript:void(0)"  >
                    <img ng-src="assets/img/home/bridenmaid.jpg" width="100%" />
                </a>
				<p> Ali-Ayşe Çiftimize Mutluluklar Dileriz..
				</p>

                    </div>
			</div>
            
            </div>
			</div>
    </ion-content>
    </ion-pane>
</ion-view>