<ion-view  cache-view="false" view-title="Kral Faruk | Rezervasyonlar">
    <ion-pane>
        <ion-content class="padding">
            <div class="row transparent" ><div class="col">
                <h3>2015 Yılı Rezervasyonlarımız Dolmak Üzeredir</h3>
                <p> Her Bütçeye Uygun Farklı Hizmet Seçeneklerimizle 2015 Yılında da Siz Değerli Müşterilerimizin hizmetinizdeyiz.</p>
            
			</div>
			</div>
			<div class="row transparent" ><div class="col">
                <a class="button icon icon-right ion-chevron-right" href="#/main/content-4">Hizmetlerimiz</a>
			</div>
			</div>
			<div class="row transparent"><div class="col">
		<h4>Prime Paket</h4>
                <a class="item item-icon-left item-icon-right" ng-href="tel:05053953671">
    <i class="icon ion-pricetag"></i>
    Prime Paket İçerik ve Fiyatlarımız İçin... 
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
				

                                
            </div>
			</div>
			<div class="row transparent"><div class="col">
		<h4>Midi Paket</h4>
                <a class="item item-icon-left item-icon-right" ng-href="tel:05053953671">
    <i class="icon ion-pricetag"></i>
    Midi Paket İçerik ve Fiyatlarımız İçin... 
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
				

                                
            </div>
			</div>
			
			<div class="row transparent"><div class="col">
		<h4>Full Paket</h4>
                <a class="item item-icon-left item-icon-right" ng-href="tel:05053953671">
    <i class="icon ion-pricetag"></i>
    Full Paket İçerik ve Fiyatlarımız İçin... 
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
				

                                
            </div>
			</div>
			
			<div class="row transparent"><div class="col">
		<h4>Elegance Paket</h4>
                <a class="item item-icon-left item-icon-right" ng-href="tel:05053953671">
    <i class="icon ion-pricetag"></i>
    Elegance Paket İçerik ve Fiyatlarımız İçin... 
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
				

                                
            </div>
			</div>
			
        </ion-content>
    </ion-pane>
</ion-view>