<ion-view cache-view="false" view-title="Kral Faruk | Hizmetler">
    <ion-pane>
        <ion-content delegate-handle="scrollHandle" on-scroll="checkPosition()" sticky>
		
              
    <div class="list">
  <div class="item-container">
    <div class="item item-divider">Organizasyonlar</div>
    <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/goster_im.gif' /><p>  Söz</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/goster_im.gif' /><p>  Kına</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/goster_im.gif' /><p>  Nişan</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/dugun_im.png' /><p>  Düğün</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/sunnet_im.jpg' /><p>  Sünnet</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/dua_im.jpg' /> <p> Mevlüt</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/dua_im.jpg' /> <p> Toplu İftar Yemekleri</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/dogum_im.png' /> <p> Doğum Günleri</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/yildonum_im.jpg' /> <p> Yıldönümü Kutlamaları</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/yemek_im.gif' /> <p> Piknik Organizasyonları</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/yemek_im.gif' /> <p> Kahvaltılı Toplantılar</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/yemek_im.gif' /> <p> Mangal Grupları</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/yemek_im.gif' /> <p> İş Yemekleri</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/yemek_im.gif' /> <p> Veda Yemekleri</p></a>

  </div>
  <div class="item-container">
    <div class="item item-divider">Dekorasyon</div>
    <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/masa_im.jpg' /><p>  Masa Süsleme</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/masa_im.jpg' /><p> Sandalye Giydirme</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/masa_im.jpg' /> <p> Nikah Masası</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/sunnet_taht_im.jpg' /><p>  Sünnet Koltuğu</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/masa_cicek_im.jpg' /> <p> Masa Çiçek Donatımı</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/mum_im.png' /> <p> Masa Mumları</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/bahce_im.jpg' /><p>  Bahçe Süsleme</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/balon_im.jpg' /><p>  Balon Süsleme</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/konfeti_im.png' /><p>  Konfeti</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/volkan_im.png' /> <p> Volkan</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/selale_im.gif' /> <p> Şelale</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/hava_im.png' /> <p> Havai Fişek Gösterileri</p></a>
          
  </div>
  <div class="item-container">
    <div class="item item-divider">Ses-Işık</div>
      <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/foto_im.png' /><p>  Fotoğraf Çekimi</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/video_im.png' /><p>  Video Çekimi</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/sis_im.png' /><p>  Sis</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/orkestra_im.png' /><p>  Orkestra</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/segmen_im.png' /><p>  Seğmen Gösterileri</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/tasavvuf_im.png' /><p>  Tasavvuf Müziği</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/tsm_im.png' /><p>  Türk Sanat Müziği</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/nota_im.png' /> <p> Piyanist</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/davul_im.png' /><p>  Davul-Zurna</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/cd_im.png' /> <p> Müzik Arşivi</p></a>
                <a class="item item-avatar" href="#"><img src='assets/img/hizmetler/projeksiyon.gif' /> <p> Sinevizyon Gösterisi</p></a>
            
  </div>
  
</div>

  </ion-content>
			
    </ion-pane>
</ion-view>

