<ion-view cache-view="false" view-title="Kral Faruk | Mesajlar">
    <ion-pane>

   <ion-content class="padding">

      <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img ng-src="assets/img/user/User.png" />
      
      <div class="item item-text-wrap">
    <h2>{{message.name}}</h2>
  </div>
    </a>


</div>

      <div class="list card">
     	 <div class="item item-text-wrap">
    {{message.message}}
  </div></a>
		 <a class="item item-icon-left" href="tel:{{message.tel}}"><i class="icon ion-ios-telephone"></i>Ara<p>{{message.tel}}</p></a>
         
		 <a class="item item-icon-left" href="sms:{{message.tel}}"><i class="icon ion-chatbox-working"></i>SMS<p>{{message.tel}}</p></a>
         <a class="item item-icon-left" href="mailto:{{message.email}}"><i class="icon ion-ios-email"></i>Email<p>{{message.email}}</p></a>
		 
      </div>
	  

  
   </ion-content>
    </ion-pane>
</ion-view>