<ion-view title="Kral Faruk" >
    <ion-content ng-controller="PhotosCtrl">
        <div class="row transparent"><div class="col">
		<h4 class="media-heading">
                                  2015 Yılı Yaz Sezonu</h4>
                <a href="javascript:void(0)" >
                    <img ng-src="assets/img/home/bridenmaid.jpg" width="100%" />
                </a>
				

                                <p>  Kral Faruk Kır Düğün Salonunda 2015 yılı Yaz Sezonu Rezervasyonlarımız başlamıştır.
            Detaylı Bilgi İçin  <a href="#/main/content"> Tıklayınız</a>

        </p>
            </div>
			</div>
			 <div class="row transparent"><div class="col">
			 
			 <h4 class="media-heading">
                                 Mutluluğunuzu Ölümsüzleştirelim</h4>
                               
		
                <a href="javascript:void(0)" >
                    <img ng-src="assets/img/home/bridenmaid3.jpg" width="100%" />
                </a>
				
 <p> Kral Faruk Kır Düğün Salonu,   Kır Düğünü anlayışına yepyeni bir soluk, yepyeni bir yüz.
            Özel günlerinizi, özel   yaşamanız için sizin yerinize  tüm detayları düşünerek unutulmaz
            organizasyonlara ev sahipliği yapıyor. 1000 kişilik Kır Bahçemiz  ,
            kır düğünlerinizi birer şölene dönüştürüyor. Özel günleriniz keyif verici aktiviteler olarak anılacak ve hafızalardan bir ömür boyu silinmeyecek. 
            Bırakın organizasyonun tüm detayları ile Kral Faruk Kır Düğün Salonu'nun deneyimli/uzman kadrosu ilgilensin,
            siz yalnız bu özel günün keyfini yaşayın...
        </p>
            </div>
			</div>
			<div class="row transparent"><div class="col">
			 
			  <h4 class="media-heading">
                                  Dostlarınızla Buluşma Yeriniz</h4>

                               
                               
		
                <a href="javascript:void(0)">
                    <img ng-src="assets/img/home/bridenmaid2.jpg" width="100%" />
                </a>
				
  <p>Düğün, sünnet, doğum günü, konser, özel toplantılarda yemekli, yemeksiz seçenekleriyle bir çok kişinin tercihi olan Kral Faruk Kır Düğün Salonu, nezih bir mekanın yanında güler yüzlü personeliyle de size en iyi hizmeti sunmaktadır. Salonumuz ilçe merkeze yakın bir noktada olup, misafirlerimizin güzel vakit geçirmeleri için kendi araçlarıyla rahat bir şekilde ulaştırılmalarını sağlamaktadır.
            Unutamayacağınız bir gün geçirmek istiyorsanız, sizi salonumuzda en iyi şekilde ağırlamak ve bu güzel günü sonsuza dek unutmamanızı sağlamak isteriz. 
        </p>
            </div>
			</div>
	</ion-content>
</ion-view>